<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-12">
		<%= link_to 'Edit', edit_game_session_path(@game_session), class: "btn btn-xs btn-default" %>
		<%= link_to 'Back', game_sessions_path, class: "btn btn-xs btn-default" %>
	</div>
</div>

<div class="row">
	<div class="col-xs-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= @game_session.name %></h3>
		  </div>
		  <div class="panel-body">
		    <h4>Lagen som är med</h4>
		    <% @game_session.teams.each do |team| %>
		    	<p><%= team.name %></p>
		    <% end %>
		  </div>
		</div>
	</div>
</div>