

<h1>Listar uppdrag</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Starting</th>
      <th>Follow up</th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.name %></td>
        <td><%= mission.description %></td>
        <td><%= mission.starting %></td>
        <td>
            <%= mission.missions.first.name rescue "" %>
        </td>
        <td><%= link_to 'Show', mission, class: "btn btn-xs btn-primary" %>
        <%= link_to 'Edit', edit_mission_path(mission), class: "btn btn-xs btn-warning" %>
        <%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
